<section class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title text-gradient">La música en su<br>máxima dimensión.</h1>
    <p class="hero-subtitle">
      Conciertos en Realidad Virtual y Aumentada.<br>Vive la experiencia como si estuvieras en primera fila.
    </p>
    
    <div class="hero-actions">
      <button class="btn-primary btn-large" (click)="scrollToSection('beta')">Unirse a la lista de espera</button>
      <button class="btn-secondary btn-large" (click)="scrollToSection('experiencia')">
        <span class="icon">▶</span> Ver Demo
      </button>
    </div>
  </div>
  
</section>
